<div>
    <h4>Register</h4>
    <form>
        <input type="text" #registerEmail placeholder="email" />
        <input type="text" #registerPassword placeholder="password" />
        <button
            type="submit"
            (click)="
                onRegister(registerEmail.value, registerPassword.value, $event)
            "
        >
            Register
        </button>
    </form>
</div>

<div>
    <h4>Login</h4>
    <form>
        <input type="text" #loginEmail placeholder="email" />
        <input type="text" #loginPassword placeholder="password" />
        <button
            type="submit"
            (click)="onLogin(loginEmail.value, loginPassword.value, $event)"
        >
            Log in
        </button>
    </form>
</div>

<button type="button" (click)="onSignOut()">Sign Out</button>

<button type="button" (click)="onGetUserClick()">User</button>
