<form novalidate [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="login-form mat-elevation-z24">

    <img
        src="../../../assets/images/logo-gradient.svg"
        class="logo"
        alt="compitu logo"
    />

    <h1 class="title mat-h2">Welcome back!</h1>

    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
    >
        Login
    </button>

    <div class="signup-text">Don't Have an Account? <a [routerLink]="['/signup']">Sign up</a></div>

</form>
