@use 'variables' as *;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    padding: $space-4xl $space-3xl;
    border-radius: $border-radius-default;
}
