@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $background-palette: map.get($color-config, 'background');
    $foreground-palette: map.get($color-config, 'foreground');
    $primary-palette: map.get($color-config, 'primary');

    app-sign-up {
        background-color: mat.get-color-from-palette(
            $background-palette,
            background
        );
    }

    .sign-up-form {
        background-color: mat.get-color-from-palette($background-palette, card);
    }

    .title {
        color: mat.get-color-from-palette($foreground-palette, text);
    }

    .login-text a {
        color: mat.get-color-from-palette($primary-palette, 600);
    }

    @media only screen and (max-width: 560px) {
        app-sign-up {
            background-color: mat.get-color-from-palette(
                $background-palette,
                card
            );
        }

        .login-form {
            background: none;
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
