<form novalidate [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!signUpForm.valid"
    >
        Sign up
    </button>

</form>
