<form novalidate [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()" class="sign-up-form mat-elevation-z24">

    <img
        src="../../../assets/images/logo-gradient.svg"
        class="logo"
        alt="compitu logo"
    />

    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!signUpForm.valid"
    >
        Sign up
    </button>

    <div class="login-text">Already have an account? <a [routerLink]="['/login']">Log in</a></div>

</form>
